#Mee{
    min-height: 100vh;
    height: 100vh;
    display: flex;
    align-items: center;
    border-bottom: 0px;
    background: var(--white-color);
    font-weight: 400;
    color: var(--dark-blue-text);
    padding: 0rem 5.6rem;
    margin: 0 0 0 0;
    z-index: -1;
    position: sticky;
    /* background: url(/assets/profile.jpg);
    background-size: cover; */
}

@media (max-width: 480px) {
    #Mee{
        padding: 0rem var(--default-font-size);
    }
}

#Mee .Mee-title{
    font-size: 5.6rem;
    font-weight:  700;
    margin-bottom: 3.2rem;
    text-align: center;
}

@media (max-width: 1024px){
    #Mee .Mee-title{
        font-size: 4rem;
    }
}

@media(max-width: 368px){
    #Mee .Mee-title{
        font-size: 3.6rem;
        text-align: center;
    }
}

@media (max-width: 480px){
    #Mee .Mee-title{
        font-size: 3.5rem;
        line-height: 1.5;
    }
}

#Mee .Mee-cta{
    display: flex;
    justify-content: center;
}

@media (max-width:480px) {
    #Mee .Mee-cta a{
        font-size: 2rem;
    }
}